
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h1{
    color: rgb(24, 73, 219);
}
.hero{
    background-image: url(images/cow.jpg);
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    
}
.hero h1{
    color: azure;
    font-size: 140px;
    text-align: center;
    
    font-weight: 900;
    word-spacing: 10px;
    letter-spacing: 5px;
    padding-top: 200px;
    
    

}
.article{
   
margin: 60px 60px;
background-color: rgb(162, 192, 183);
border-color: yellow;
border-style: groove;
border-width: 15px;
    
}