*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(24, 73, 219);
}
.hero{
    background-image: url(images/cow.jpg);
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    padding-top: 190px;
    font-weight: 900;
    

}
.article{
   
    margin-left:auto;
    margin-right: auto;
}