.grid-container{
    display:grid;
}

header{
background-color: red;
}
nav{
background-color: green;
}
.csrd-1{
    background-color: orange;
}
.card-2{
    background-color: aqua;
}
.card-3{
    background-color: blue;
}
.card-4{
    background-color: blueviolet;
}
.footer{
background-color: gray;
}